/*Register Page*/
.register-page {
  padding: 40px 24px 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.register-hero {
  text-align: center;
  padding: 20px 20px;
  margin-top: 100px;
  margin-bottom: 40px;
}

.register-heading {
  justify-content: center;
  align-items: center;
}

.register-info-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 5px 35px;
  gap: 2px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 600px;
  border: 2px solid #ced0d6;
  border-radius: 10px;
}

.register-value-box {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 30px;
  width: 90%;

  text-align: left;
  padding: 10px 10px 10px;
  font-size: 18px;
  font-weight: 100px;
  color: rgb(109, 109, 109);

  border: 2px solid #ced0d6;
  border-radius: 10px;
  box-sizing: border-box;
}

.value-text {
  text-align: left;
  margin-left: -1px;
  padding: 1px 25px 1px;
  font-size: 18px;
  font-weight: 100px;
  color: rgb(31, 31, 31)
}

.error-text {
  text-align: left;
  margin-left: -1px;
  padding: 1px 25px 1px;
  font-size: 13px;
  font-weight: 100px;
  color: red
}

.register-button {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 30px;
  /* margin: 0 auto; */
  width: 90%;

  text-align: center;
  padding: 10px 10px 10px;
  font-size: 18px;
  font-weight: 100px;
  color: rgb(252, 252, 252);
  background-color: #333;

  border: 2px solid #ced0d6;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.register-secondary-link {
  margin-left: 10px;
  text-align: left;
  padding: 5px 25px 5px;
  font-size: 18px;
  font-weight: 100px;
  color: rgb(0, 0, 0)
}

.register-value-box ul {
  list-style: none;
  padding-left: 0;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}